[package]
name = "fastzip-gui-tauri"
version = "0.1.0"
edition = "2021"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
fastzip-core = { path = "../../fastzip-core" }
rfd = "0.15"
